# This was used for sqlite data store
# DB_PATH=

# This are needed by the db service (in compose file) to come up
POSTGRES_PASSWORD=
POSTGRES_USER=
POSTGRES_DB=

# This is needed by the backend service (in compose file)
DATABASE_URL=
